{% extends 'base.html' %}

{% block title %}Regisztráció{% endblock title %}

{% block content_title %}Regisztráció{% endblock content_title %}
{% block content %}
<form action="" class="form" method="post">
    {% csrf_token %}
    {{form}}
    <p class="py-2 text-center"><em>A regisztráció után egy megerősítő e-mailt küldünk amellyel a regisztráicó véglegesíthető</em></p>
    <button type="submit" class="btn w-100 my-2 btn-success">Regisztráció</button>
    <div class="text-center py-2">
        <a  href="{% url 'login' %}" class="text-info">Van már fiókom, bejelentkezek</a>
    </div>


</form>


{% endblock content %}