{% extends 'base.html' %}

{% block title %}Üzeletem beállításai{% endblock title %}


{% block content_title %}A tervezett foglalás időpontja: {{selected_date}}{% endblock content_title %}

{% block content %}
<p class="text-center small">
Kérjük, vegye figyelembe, hogy a kiválasztott időpont lefoglalása után az üzlet a megadott információk,
különösen a becsült időtartam alapján jóváhagyásra bocsátja a foglalást.
Előfordulhat, hogy az időpont módosítására van szükség, amennyiben az ütközik egy korábbi foglalással.

A foglalás jóváhagyásáról, illetve esetleges pontosításáról értesítést küldünk a megadott e-mail címre.
Csak a jóváhagyott időpont számít végleges foglalásnak.
</p>
<hr>
    <p class="text-center small">FOGLALÁS IDŐPONTJA</p>
    <h5 class="text-center"><span class="badge bg-warning text-dark">{{selected_date}}</span></h5>
    <h5 class="text-center text-light">{{service.name}}</h5>

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="selected_date" id="id_selected_date" value="{{selected_date|date:'Y-m-d'}} {{selected_date|time:'H:i:s'}}">
        <button type="submit" class="btn btn-success w-100 my-2">Foglalás elküldése</button>
    </form>

{% endblock content%}