{% extends 'base.html' %}

{% block title %}Foglalások{% endblock title %}


{% block content_title %}A foglalások megtekintése{% endblock content_title %}

{% block script %}

{% endblock script %}
{% block content %}


{% for obj in grouped_objs %}
    <h2 class="alert bg-primary mt-2">{{obj.date}}</h2>
    {% for booking in obj.objs %}
        <a href="">
            <span class="badge bg-dark" title="{{booking.description}}">
                {{booking.start_time|time:'H'}}
                {%if booking.start_time.minute != 0 %}:{{booking.start_time.minute}}{% endif %}
                -
                {{booking.end_time|time:'H'}}
                {%if booking.end_time.minute != 0 %}:{{booking.end_time.minute}}{% endif %}
                <span class="badge bg-warning text-dark">{{booking.booked_user.get_name}}</span>
            </span>
        </a>
    {% endfor %}
{% endfor %}



{% endblock content%}