{% autoescape off %}


Tisztelt {{booking.booked_user.get_name}}!
Ez az üzenet a Mytimes.hu weboldal automatikusan generált értesítése,
miszerint a foglalását a {{booking.service.name}} elfogadta.

Időpont: {{booking.start_time}}
Vége: {{booking.end_time}}
Időtartam: {{booking.length}} perc
--------------------------------------------------------------
Az ön megjegyzése:
{{booking.description}}
--------------------------------------------------------------
Az üzlet megjegyzése:
{{booking.accept_description}}

Kérjük a megjelölt időpontban pontosan jelenjen meg. A weboldalon a "Profilom" menüpont alatt a foglalásait megtekintheti

Kérjük, erre a levélre ne válaszoljon, ne küldjön üzenetet. Ez egy automatikusan generált levél!
{{current_site}}



{% endautoescape %}