
{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}{{obj.name}}{% endblock title %}


{% block content_title %}{{obj.name}}{% endblock content_title %}

{% block content %}

<div class="text-center">
    <img src="{{obj.banner_picture.url}}" alt="service provider picture" class="shadow-4-strong avatar-wide">
    <hr>
    <h3 class="text-light">{{obj.name}}</h3>
    <h5 class="small text-info">{{obj.user_profile.get_name}}</h5>
    <hr>
</div>



<div class="row">
     <div class="col-md-6">
        <div class="text-center"><span class="badge bg-info text-light w-100 py-2 my-2">foglalható időpontok</span></div>
        <p class="text-center">
            Kérjük, vegye figyelembe: Az időpontfoglalási rendszer alapértelmezés szerint {{obj.booking_time_interval}} perces időablakokkal dolgozik.
            Mivel a szolgáltatások tényleges időtartama vendégenként eltérhet,
            előfordulhat, hogy a lefoglalt időpont nem biztosít elegendő időt a szolgáltatás teljes elvégzéséhez.
            Amennyiben nem áll rendelkezésre egymást követő szabad időpont, a lefoglalt időpont módosítása válhat szükségessé,
            vagy időpont-eltolásra is sor kerülhet. Köszönjük megértését!
        </p>
        <hr>
        {% localtime on %}
            {% for day in free_times %}
                <div class="row">
                    <div class="col"><h3 class="text-light">{{day.day|date:"M d, l"}}</h3></div>
                    <div class="col-auto text-end text-info"><b>Nyitva tartás:</b> {{day.opening|time:'H:i'}} - {{day.closing|time:'H:i'}}</div>
                </div>



                {% for t in day.free_times %}
                    <!-- %Y-%m-%d %H:%M:%S -->
                    <a href="{% url 'add_booking' obj.slug t|date:'Y-m-d H:i:s' %}">
                        <span class="badge bg-warning text-primary my-1 p-2">{{t.hour}} óra {% if t.minute != 0 %} {{t.minute}} perc {% endif %}</span>
                    </a>
                {% endfor %}
                <hr>
            {% empty %}
            <h5 class="bg-warning text-dark text-center p-2">Nincs feltöltve nyitva tartás, foglalás nem lehetséges</h5>
            {% endfor %}

        {% endlocaltime %}
    </div>




    <div class="col-md-6">
        <h5 class="text-light">Névjegy</h5>
        <div class="row">
            <div class="col-2"><i class="fa-regular fa-user"></i></div>
            <div class="col-10"><div class="text-light">{{obj.name}}</div></div>
        </div>
        <div class="row">
            <div class="col-2"><i class="fa-solid fa-house"></i></div>
            <div class="col-10">{{obj.state}}, {{obj.zip_code}}, {{obj.city}} {{obj.street}}</div>
        </div>

        <div class="row">
            <div class="col-2"><i class="fa-solid fa-mobile-screen-button"></i></div>
            <div class="col-10">{{obj.mobile}}</div>
        </div>
        <div class="row">
            <div class="col-2"><i class="fa-regular fa-comment"></i></div>

            <div class="col-10">{{obj.description}}</div>

        </div>
        <div class="row">
            <div class="col-2"><i class="fa-solid fa-wallet"></i></div>

            <div class="col-10">{{obj.prices|linebreaks}}</div>

        </div>



        <!--GOOGLE MAPS
        *****************
        *****************
        -->
        <hr>
        <div class="mt-2" style="max-width:100%;list-style:none; transition: none;overflow:hidden;height:200px;">
            <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;">
                <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q={{obj.city}},+{{obj.street}},+Hungary&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">

                </iframe>
            </div>
            <a class="google-map-html" rel="nofollow" href="https://www.bootstrapskins.com/themes" id="enable-map-data">premium bootstrap themes</a>
            <style>#embed-map-display .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;</style>
        </div>







        <hr>
        <h5 class="text-light">Nyitva tartás</h5>
        <div class="row">
            <div class="col-4 text-light">Nap</div>
            <div class="col-4 text-light"><b>Nyitás</b></div>
            <div class="col-4 text-light"><b>Zárás</b></div>
        </div>
        <div class="row">
            {% for open in open_hours %}
                <div class="col-4">{{open.get_day_display}}</div>
                <div class="col-4">{{open.start_time}}</div>
                <div class="col-4">{{open.end_time}}</div>
            {%empty%}
                <div class="col-12">Nincs feltöltve nyitva tartás</div>
            {% endfor %}
        </div>


        <hr>
        <h5 class="text-light">Referencia képek</h5>
        <div class="row">
            {% for picture in refer_pictures %}
                <div class="col-md-4 col-6 mb-2">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{picture.image.url}}" alt="" class="card-pict lightbox-trigger" data-full="{{picture.image.url}}">
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <hr>
        <h5 class="text-light">Vélemények</h5>

        <form action="" method="post">
            {% csrf_token %}
            {{rating_form}}
            <button type="submit" class="btn btn-success my-2 w-100">Mentés</button>
        </form>

        <div class="row ">
            <div class="col-12">
            {% for rating in ratings %}
                <div class="card bg-primary mb-2">
                    <div class="card-body">
                        <div class="row">
                           <div class="col-12 col-md-3 text-center mb-2 mb-md-0">
                                <img src="{{rating.user_profile.profile_picture.url}}" class="avatar-mini rounded-circle">
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-12 col-md-auto text-light text-center text-md-start">{{rating.user_profile.get_name}}</div>
                                    <div class="col-12 col-md text-center text-md-end">
                                        {% autoescape off %}{{rating.get_rating_stars}}{% endautoescape %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-info">{{rating.description}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        {{rating.created_at|timesince}}
                    </div>
                </div>
            {% empty %}
                <h5 class="text-center text-dark">Nincsenek vélemények</h5>
            {% endfor %}
            </div>


        </div>

    </div>


</div>

<div id="lightbox" class="lightbox">
    <span class="lightbox-close">&times;</span>
    <img class="lightbox-content" id="lightbox-img">
</div>

{% endblock content %}
{% block script %}<script src="{% static 'js/reference_pict.js' %}"></script>{% endblock script %}