{% extends 'base.html' %}

{% block title %}ERROR 500{% endblock title %}

{% block content_title %}Szerver hiba történt, nincs jogosultsága vagy nem létező dolgot keresett{% endblock content_title %}


{% block content %}
    {% include 'includes/mytimes_html_banner.html' %}
    <div class="container my-2 text-center">
        <h1 class="text-light ">ERROR 500</h1>
        <h5 class="text-light">PROBLÉMA A SZEVERREL VAGY JOGOSULATLAN KÉRÉS TÖRTÉNT</h5>
        <a href="/" class="text-info">Vissza a főoldalra</a>
    </div>
{% endblock content %}